<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>This package contains a System Preferences plug-in which allows you to set GnuPG 1.2.x (and later) options, without using the Terminal.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>GnuPG Preferences</string>
	<key>IFPkgDescriptionVersion</key>
	<string>1.2.2 (v11)</string>
</dict>
</plist>
