(
    "http://wwwkeys.at.pgp.net",
    "http://wwwkeys.ch.pgp.net",
    "http://wwwkeys.cz.pgp.net",
    "http://wwwkeys.de.pgp.net",
    "http://wwwkeys.dk.pgp.net",
    "http://wwwkeys.es.pgp.net",
    "http://wwwkeys.eu.pgp.net",
    "http://wwwkeys.nl.pgp.net",
    "http://wwwkeys.pl.pgp.net",
    "http://wwwkeys.uk.pgp.net",
    "http://wwwkeys.us.pgp.net",
)