<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Questo pacchetto contiene un plug-in per le Preferenze di Sistema che permette di impostare le opzioni per GnuPG 1.2.x (e successive) senza dover usare il Terminale.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>GnuPG Preferences</string>
	<key>IFPkgDescriptionVersion</key>
	<string>1.2.2 (v11)</string>
</dict>
</plist>
