{
    IFPkgDescriptionTitle = "GnuPG Preferencer";
    IFPkgDescriptionVersion = "1.2 (v9)";
    IFPkgDescriptionDescription = "Denne pakke indeholder en plug-in til System Preferencer som tillader dig at foretage ændringer i opsætningen i GnuPG 1.x uden at det er nødvendigt at bruge Terminalen.";
}
